body{
    background-color: rgba(63,63,63, 0.1);
    position: relative;
    margin: 0;
    padding: 0;
}
a,a:visited, a:active{
    outline: none;
    text-decoration: none;
    color: #0b0b0b;
}
header, article, footer{
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    display: block;
}
h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
.blind{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    /*background-color: rgba(65,82,92, 0.3);*/
}
.wrapper-internal{
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    max-width: 960px;
    margin: 0 auto;
}
.back-menu{
    background-color: rgba(221,235,247, 0.2);
    z-index: 3;
    border-left: 4px solid orange;
    box-sizing: border-box;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    transition: width 0.75s;
}
.back-menu ul{
    padding: 20px 10px 0;
    box-sizing: border-box;
}
.back-menu ul li{
    white-space: nowrap;
    font-size: 16px;
    margin: 0 0 20px;
    list-style-type: none;
}
.back-menu ul li a{
    text-transform: uppercase;
    color: #FFFFFF;
    transition: border-bottom 0.3s;
}
.back-menu ul li a:hover{
    color: orange;
    border-bottom: 2px solid;
}
.back-menu:hover{
    width: 20%;
}
.index-menu{
    background-color: orange;
    position: absolute;
    font-size: 25px;
    display: block;
    width: 55px;
    height: 55px;
    left: -29px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
}
.index-menu i{
   color: #FFFFFF;
}
header{
    position: relative;
    background: url("img/test.png");
    background-size: cover;
    background-position: center;
    min-height: 525px;
    text-align: center;
}
header h2{

}
header h3{
    margin: 100px 0 0;
}
header p{
    margin: 50px 0 0;
}